.container {
  width: min(85%, 1024px);
  margin-inline: auto;
  margin-block: 2rem;
  background-color: var(--white);
  border-radius: 0.25rem;
  padding: 2rem;
}

.table-products {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid var(--light-blue);
}

.table-header,
.table-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding-block: 1rem;
}

.table-icon {
  width: 4rem;
  object-fit: cover;
}

.table-container {
  overflow-x: auto;
}

.table-total-items {
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  max-width: 10rem;
  flex: 0 1 auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-icon {
  display: block;
  width: 2rem;
  text-align: center;
}
.dropdown p {
  text-align: center;
  cursor: pointer;
  padding: 0.25rem;
}

.dropdown:hover p:hover {
  background-color: var(--light-blue);
}

.dropdown:hover .dropdown-content {
  display: block;
}
